.box{
    width: 400px;
    height: 500px;
}
body{
    margin: 0%;
}

.buttons{
    justify-content: space-around;
}

.mt10{
    margin-top: 20px;
}

.mb10{
    margin-bottom: 10px;
}

.ml-15{
    margin-top: -15px;
    margin-left:-15px;
}